casting: conversion of one datatype into another datatype called casting.

> casting of int into: float, string

> casting of float into : int, string  #sometime data loss happend

> casting of string into : int, float (if string contain number then only it is possible.)

                            > string contain a float value, it is not directly convertible into int 
                            > example: int(float("10.04"))  --> impact is data loss.
    
> casting of list into: tuple,set, frozenset

> casting of tuple into : list , set, frozenset

> casting of set into : list, tuple,frozenset

> casting of frozenset into : set, tuple, list

# casting of int into: float, string

In [2]:
a=10
float(a)

10.0

In [4]:
print(str(a))

10

In [7]:
b=str(a)
type(b)

str

# casting of float into : int, string

In [10]:
a=10.99
int(a)

10

In [11]:
str(a)

'10.99'

> casting of string into : int, float (if string contain number then only it is possible.)

                            > string contain a float value, it is not directly convertible into int 
                            > example: int(float("10.04"))  --> impact is data loss.

In [18]:
a="10.99"

In [19]:
float(a)

10.99

In [20]:
int(float(a))

10

In [21]:
eval(a)

10.99

In [22]:
eval("10")

10

# casting of list into: tuple,set, frozenset

In [26]:
a=["krishna"]

In [29]:
b=str(a)
b

"['krishna']"

In [31]:
c=list(b)

In [32]:
c

['[', "'", 'k', 'r', 'i', 's', 'h', 'n', 'a', "'", ']']

In [35]:
d="".join(c)

In [36]:
d

"['krishna']"